#especard-container{
    background-color:white;
    padding: 20px;
    border-radius: 10px;
}
.icon-board{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:992px){
    #especard-container{
        margin-bottom: 30px;
    }
}