#intro-board {
    min-height: 100vh;
    width: 100%;
}

.intro-left-side h1{
    font-size: 3.5rem;
    font-weight: 900;
}

.small-description-tooth{
    margin-top:40px;
    align-items: center;
    height: 60px;
}
.tooth-board{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-tooth{
    color: white;
    font-size: 20px;
}
.small-detail{
    color: rgb(13, 159, 237);
    font-weight: 700;
}

/* RIGHT SIDE */

.right-side img{
    width: 90%;
    height: 96%;
}
