#intro-board {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.intro-left-side h1{
    padding-top: 50px;
    font-size: 3.7rem;
    font-weight: 900;
    line-height: 1.3;
}
.small-description-tooth{
    margin-top:40px;
    align-items: center;
    height: 60px;
}
.tooth-board{
    padding: 15px;
    border-radius: 50%;
}
.fa-tooth{
    color: white;
    font-size: 20px;
}
.small-detail{
    color: rgb(13, 159, 237);
    font-weight: 850;
}

/* RIGHT SIDE */
.right-side-intro{
    height: 700px;
    object-fit: cover;
}
.right-side-intro img{
    width: 75%;
    height: 100%;
}
@media (max-width:1200px) {
    .right-side-intro img{
        width: 90%;
    } 
}
@media (max-width: 992px){
    .right-side-intro img{
        width: 95%;
    }
}
@media (max-width: 768px){
    .intro-left-side{
        padding: 0px 30px!important;
    }
    .right-side-intro img{
        width: 80%;
    }
}
@media (max-width: 576px){
    .right-side-intro img{
        width: 100%;
        height: 85%;
    }
    .intro-left-side h1{
        font-size: 2.8rem;
    }
}