#services-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f1f9fc;

}
.services-left-side{
    height: 650px;
}
.services-left-side img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 30px;
}

.services-right-side h2{
    font-weight: 800;
    font-size: 40px;
}

.services-card{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
}
.services-card:hover{
    background-color:#D7E8F4
}
.fa-teeth{
    background-color:#0d6efd;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
@media (max-width:992px){
    .services-right-side{
        padding-top: 30px;
    }
    .services-left-side{
        padding-bottom: 40px;
    }
    #services-container {
        flex-direction: column-reverse; /* Cambia la dirección del flex */
    }
}